
$screen-min-sm: 'screen (min-width: 768px)';
$screen-min-md: 'screen (min-width: 1024px)';
$screen-min-lg: 'screen (min-width: 1360px)';

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 22px; 
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    &__header {
        color: #f4f4f4;
    }

    &__panel {
        margin-left: 20px;
        margin-right: 20px;
        background: #f4f4f4;
        padding: 15px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
}

#home {
    background: rgba(3,40,83,1);
    background: -moz-linear-gradient(-45deg, rgba(3,40,83,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(3,40,83,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(3,40,83,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(3,40,83,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(3,40,83,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(3,40,83,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032853', endColorstr='#000000', GradientType=1 );
}

#skills {
    background: green;
}
