 @import url('https://fonts.googleapis.com/css?family=Anton|Raleway');

$screen-min-sm: 'screen and (min-width: 768px)';
$screen-min-md: 'screen and (min-width: 1024px)';
$screen-min-lg: 'screen and (min-width: 1360px)';

$header-font: 'Anton', sans-serif;
$body-font: 'Raleway', sans-serif;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: $body-font;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $header-font;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-family: $header-font;
    line-height: 22px;
    text-transform: uppercase;
}

.container {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: calc(100vw - 20%);

        @media #{$screen-min-sm} {
            width: 600px;
        }
    }

    &__header {
        color: #f4f4f4;
    }

    &__panel {
        background: #f4f4f4;
        padding: 15px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
    }
}

#home {
    h1 {
        color: rgba(3,40,83,1);
        background-color: #ffffff;
        padding: 10px;
        font-size: 48px;
    }

    .container__wrapper {
        width: 100vw;
        height: 100vh;
        border: 10px solid #ffffff;
        background: rgba(3,40,83,1);
    }
}

#skills {
    background: #f4f4f4;
}
