/****************************
    Imports
****************************/
@import url('https://fonts.googleapis.com/css?family=Anton|Raleway');

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

$screen-min-sm: 'screen and (min-width: 768px)';
$screen-min-md: 'screen and (min-width: 1024px)';
$screen-min-lg: 'screen and (min-width: 1360px)';

$header-font: 'Anton', sans-serif;
$body-font: 'Raleway', sans-serif;

/****************************
    Site Wide
****************************/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: $body-font;
    position: relative;
    font-size: 16px;
}

#page-wrapper {
    padding-top: 50px;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $header-font;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-family: $header-font;
    line-height: 22px;
    text-transform: uppercase;
}

p {
    margin: 0 0 22px;
}

/****************************
    Main Container
****************************/

.container {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: calc(100vw - 20%);

        @media #{$screen-min-sm} {
            width: 600px;
        }
    }

    &__header {
        color: #f4f4f4;
    }

    &__panel {
        background: #f4f4f4;
        padding: 15px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
    }
}

/****************************
    Helpers
****************************/

.scroll-down {
    position: absolute;
    bottom: 80px;
    transform: translateX(-50%);
    left: 50%;
    width: auto;
    height: auto;
    color: #f4f4f4;
    text-decoration: none;

    i {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.5em;
        opacity: 0.8;
    }

    &:hover {
        i {
            opacity: 1;
        }
    }
}

/****************************
    Home
****************************/

.home {
    &__main-header {
        color: #282b37;
        background-color: #ffffff;
        padding: 10px;
        font-size: 48px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            border-top: 40px solid transparent;
            border-left: 40px solid #282B37;
        }

        span {
            line-height: 0.9;
        }

        &--small {
            color: #ffffff;
            text-align: right;
            font-size: 1em;
        }
    }

    .container__wrapper {
        width: 100vw;
        height: 100%;
        background-color: #282b37;
    }
}

/****************************
    Latest Work
****************************/

.latestWork {
    background-color: #f4f4f4;
};

/****************************
    Navigation
****************************/

.main-navigation {
    position: fixed;
    height: 50px;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    align-items: center;

    &__list {
        margin: 0;
        padding: 0;
        width: calc(100vw - 50px);
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: flex-end;

        &-item {
            display: inline-block;
        }
    }
}
